<!DOCTYPE html>
<html>
<head>
  <meta name="theme-color" content="#0072ff">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="/style/board.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.js"></script>
  <script src="/js/board.service.js"></script>
</head>
<body ng-app="app">
  <div ng-cloak ng-controller="cardController as card" layout="column" layout-fill ng-init="card.initCheck()">
    <!-- Loading spinnger CSS, needs work if there is enough time to view it -->
      <svg class="spinner" ng-cloak="" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
    <md-content layout="column" flex>
      <md-tabs id="tabs" layout="column" flex>
        <md-tab layout="column" label="Home">
          <md-tab-content ng-cloak="">
          <!--Card for ng-repeat-->
            <div id="card-layout" layout-align="center" md-margin layout-gt-sm="row" layout="column" layout-wrap>
              <md-card layout-gt-sm="column" layout="row" ng-repeat="text in card.tasks" class="card">
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{text.task}}</span>
                    <span class="md-subhead">Due Date:</span>
                    <md-datepicker ng-change="card.update('dueDate',text._id,$index)" class="cardDate" ng-model="card.cardDueDate[$index]"></md-datepicker>
                    <span class="md-subhead">Reminder:</span>
                    <div layout="row" layout-align="start start">
                      <md-datepicker ng-change="card.update('remindDate',text._id,$index)" class="cardDate" ng-model="card.cardRemindDate[$index]"></md-datepicker>
                      <md-input-container>
                        <label>Time:</label>
                        <input type="time" ng-change="card.update('remindDate',text._id,$index)" ng-model="card.cardRemindTime[$index]">
                      </md-input-container>
                    </div>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-around start" class="layout-align-space-between-stretch">
                  <div layout="column">
                  <span class="md-subhead">Steps:</span>
                    <div ng-repeat="step in text.steps">
                      <md-checkbox aria-label="checkbox" ng-click="card.update('taskCheck',text._id,step._id)" ng-checked={{step.checked}}>
                        {{step.step}}
                      </md-checkbox>
                    </div>
                    <div div layout="row">
                      <md-button id="addtask-btn" flex="20" class="md-icon-button" aria-label="Add Step" ng-click="card.addCardStep(text._id)">
                        <md-icon class="button-shadow" md-svg-src="/images/board/add.svg"></md-icon>
                        <md-tooltip>
                          Add Step
                        </md-tooltip>
                      </md-button>
                      <md-input-container flex="65">
                        <label>Add new step</label>
                        <input type="text" ng-model="card.addStep" ng-keyup="$event.keyCode == 13 ? card.addCardStep(text._id) : null" required>
                      </md-input-container>
                    </div>
                  </div>
                  <md-card-actions flex-gt-xs="10" layout="column" layout-align="end end">
                    <button ng-click="card.EditTask(text._id)" class="md-icon-button md-button" md-ink-ripple type="button" aria-label="Edit">
                      <md-icon md-svg-icon="/images/board/popout.svg" class="ng-scope ng-isolate-scope" aria-label="Edit Task">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet">
                          <path d="M0 0h18v18h-18z" fill="none"></path>
                          <path d="M2 13.5h14v-1.5h-14v1.5zm0-4h14v-1.5h-14v1.5zm0-5.5v1.5h14v-1.5h-14z"></path>
                        </svg>
                      </md-icon>
                      <md-tooltip>
                        Edit Task
                      </md-tooltip>
                    </button>
                    <button ng-click="card.deleteTask(text._id)" class="md-icon-button md-button" md-ink-ripple  type="button" aria-label="Delete">
                      <md-icon md-svg-icon="/images/board/close.svg" class="ng-scope ng-isolate-scope" aria-label="Delete task">
                        <svg version="1.1" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet"><g><g>
                          <path fill="#7d7d7d" d="M21,11l-7-7v4C7,9,4,14,3,19c2.5-3.5,6-5.1,11-5.1V18L21,11z"></path>
                          <rect fill="none" width="24" height="24"></rect></g></g>
                        </svg>
                      </md-icon>
                      <md-tooltip>
                        Delete Task
                      </md-tooltip>
                    </button>
                  </md-card-actions>
                </md-card-content>
              </md-card>
            </div>
            <md-button id="addTask" class="md-fab md-primary" aria-label="New Task" ng-click="card.NewTask()">
              <md-icon md-svg-src="/images/board/task.svg"></md-icon>
              <md-tooltip>
                New Task
              </md-tooltip>
            </md-button>
            <!-- New Task Dialoge -->
            <div id="new-task" class="md-dialog-container hide-new-task">
              <div class="ng-scope md-transition-in md-dialog">
                <md-toolbar class="top-border-radius">
                  <div class="md-toolbar-tools top-border-radius">
                    <h2>Create Task</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="card.closeDialog()">
                      <md-icon aria-label="Close dialog"></md-icon>
                    </md-button>
                  </div>
                </md-toolbar>
                <md-dialog-content class="ng-scope md-transition-in md-dialog-content">
                  <div class="md-dialog-content dialog-padding" layout-align="center center" layout="row">

                    <div layout="column" layout-padding>
                      <h4>Task</h4>
                      <md-input-container>
                        <label>Task Name:</label>
                        <input autocomplete="off" type="text" id="task-name">
                      </md-input-container>
                      <h4>Steps</h4>
                      <div id="steps" layout="column" layout-align="start start">
                        <div data-ng-repeat="step in card.steps">
                          <md-input-container layout-align="start start">
                            <label>{{step.label}}</label>
                            <input  autocomplete="off" class="send-step" type="text" name="step" ng-keydown="card.addNewStep($event.keyCode)">
                          </md-input-container>
                        </div>
                        <md-button id="newAddStep" md-no-ink class="md-primary" ng-click="card.addNewStep('button')">Add Step</md-button>
                      </div>
                    </div>

                    <div layout="column" layout-align="start center">

                      <h4>Due Date</h4>
                      <div layout="column" layout-align="space-between end">
                        <md-datepicker ng-model="card.dueDate"></md-datepicker>
                      </div>

                      <h4>Reminder</h4>
                      <div layout="column" layout-align="space-between end">
                        <md-input-container>
                          <label>Time:</label>
                          <input ng-model="card.remindTime" type="time">
                        </md-input-container>
                        <md-datepicker ng-model="card.remindDate"></md-datepicker>
                      </div>
                    </div>
                  </div>


                </md-dialog-content>
                <md-dialog-actions layout="row">
                  <span flex></span>
                  <md-button ng-click="card.closeDialog()">
                    Cancel
                  </md-button>
                  <md-button ng-Click="card.submitTask()">
                    Save
                  </md-button>
                </md-dialog-actions>
              </div>
            </div>
          </md-tab-content>
        </md-tab>
        <md-tab label="Settings">
          <md-button class="md-raised md-warn"  href="/logout">Logout</md-button>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</body>
</html>
