#navtabs {
  padding-top: 5px;
}

#signout  {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
}

#addTask {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.card-btn-bottom {
  margin-top: 25%;
  position: absolute;
  bottom: 0;
}

.card {
  position: relative;
}

#tabs md-tab-content:first-child {
  background: linear-gradient(to bottom, #00c6ff , #0072ff);
  min-height: 100%;
}

#addStep {
  width: 25px;
  height: 25px;
  line-height:25px;
  margin: 0px 15px 0px 0px;
  border-radius: 50%;
  background: rgb(0,128,255);
  text-align:center;
  text-decoration:none;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
  float:left;
}

.splash {
  display: none;
}

[ng-cloak].splash {
  background-color: #428bca;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  display: block !important;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;

  & .path {
    stroke: rgb(255, 0, 0);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}