<md-dialog aria-label="New Task" ng-cloak ng-app="app" ng-controller="newTaskController as task">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Task</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout-align="center center" layout="column">
        <form name="newTask">
          <div layout="row">
            <md-input-container>
              <label>Task Name:</label>
              <input type="text" ng-model="task.taskName">
            </md-input-container>
            <md-input-container>
              <label>Description:</label>
              <textarea type="text" data-ng-model="task.taskNote"></textarea>
            </md-input-container>
          </div>
          <div layout="row" layout-align="start end">
            <div layout="column" layout-align="start start">
              <md-input-container data-ng-repeat="step in task.steps" layout-align="start start">
                <label>{{step}}</label>
                <input type="text" mg-model="task.newTask" ng-keyup="$event.keyCode == 13 ? task.addNewStep() : null">
              </md-input-container>
            </div>
            <md-button md-no-ink class="md-primary" ng-click="task.addNewStep()">Add Step</md-button>
          </div>
        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="closeDialog()">
        Cancel
      </md-button>
      <md-button ng-click="task.sendTask()" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </md-dialog>