<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="/style/board.css">
</head>
<body ng-app="app">
  <div ng-cloak ng-controller="cardController as card" layout="column" layout-fill>
    <!-- Loading spinnger CSS, needs work if there is enough time to view it -->
      <svg class="spinner" ng-cloak="" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
      </svg>
    <md-content layout="column" flex>
      <md-tabs id="tabs" layout="column" flex>
        <md-tab layout="column" label="Home" flex>
          <md-tab-content md-padding layout="column" flex-xs="80" flex-sm="40" flex-md="30" flex-lg="30" flex-xl="20"  layout-wrap>
          <!--Card for ng-repeat-->
            <md-card ng-cloak class="card">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{card.title}}</span>
                  <span class="md-subhead">{{card.subtitle}}</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content layout="row" layout-align="space-around start" class="layout-align-space-between-stretch">
                <div>




                  <div ng-repeat="step in card.stepArray">
                    <md-checkbox>
                      {{step}}
                    </md-checkbox>
                  </div>





                  <md-button class="md-icon-button" aria-label="Add Step" ng-click="card.addNewcardStep()">
                    <md-icon class="button-shadow" md-svg-src="/images/board/add.svg"></md-icon>
                    <md-tooltip>
                      Add Step
                    </md-tooltip>
                  </md-button>
                  <md-input-container>
                    <label>Add new step</label>
                    <input type="text" ng-model="card.addStep" ng-keyup="$event.keyCode == 13 ? card.addNewcardStep() : null" required>
                  </md-input-container>
                </div>
                <!-- We put checklist adding ehre with class layout-coulumn?? -->
                <md-card-actions layout="column" layout-align="end end" flex>
                  <button class="md-icon-button md-button" md-ink-ripple type="button" aria-label="Edit">
                    <md-icon md-svg-icon="/images/board/popout.svg" class="ng-scope ng-isolate-scope" aria-label="Edit Task">
                      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet">
                        <path d="M0 0h18v18h-18z" fill="none"></path>
                        <path d="M2 13.5h14v-1.5h-14v1.5zm0-4h14v-1.5h-14v1.5zm0-5.5v1.5h14v-1.5h-14z"></path>
                      </svg>
                    </md-icon>
                    <md-tooltip>
                      Edit Task
                    </md-tooltip>
                  </button>
                  <button class="md-icon-button md-button" md-ink-ripple  type="button" aria-label="Close">
                    <md-icon md-svg-icon="/images/board/close.svg" class="ng-scope ng-isolate-scope" aria-label="Close task">\
                      <svg version="1.1" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet"><g><g>
                        <path fill="#7d7d7d" d="M21,11l-7-7v4C7,9,4,14,3,19c2.5-3.5,6-5.1,11-5.1V18L21,11z"></path>
                        <rect fill="none" width="24" height="24"></rect></g></g>
                      </svg>
                    </md-icon>
                    <md-tooltip>
                      Close Task
                    </md-tooltip>
                  </button>
                </md-card-actions>
              </md-card-content>
            </md-card>
          <md-button id="addTask" class="md-fab md-primary" aria-label="New Task" ng-click="card.newTask($event)">
            <md-icon md-svg-src="/images/board/task.svg" style="display: inline;"></md-icon>
            <md-tooltip>
              New Task
            </md-tooltip>
          </md-button>
        </md-tab-content>
      </md-tab>
      <md-tab label="Settings">
        <md-button class="md-raised md-warn"  href="/logout">Logout</md-button>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="/js/board.service.js"></script>
<script src="/js/board.js"></script>
</body>
</html>